@charset "utf-8";

/* */
$h1-height:57px;
$go-back-width:100px;
$nav-height:56px;
$nav-border-bottom:4px;
/**/
$header-bg:#91d4da;
$menu-dot-bg:#00c7d6;
$nav-border-color:#90d6d8;
/**/
$color-white:#fff;
$default-color:#333;
/**/
$default-font-size:16px;
/**/

*{padding:0;margin:0; box-sizing: border-box;}
body{margin:0;padding:0; font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif; color: $default-color;font-size: $default-font-size;}
img{vertical-align: middle; display: inline-block;border: 0;}
ol,ul,li {list-style:none;}
/*移动端特有*/
a, img {
  -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
  -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
  user-select: none;
}
/*移动端特有*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*zoom:1;}
.clear{clear: both;}

.page-container{margin:0 auto;}

header{
  background: $header-bg; color: $color-white; /*text-align: center;*/ line-height:$h1-height;display: flex;
  .go-back{
    display: inline-block;width:$go-back-width; line-height:$h1-height; font-size: 18px;padding-left:15px;

  }
  h1{
    text-align: center;line-height:$h1-height; flex-grow: 1;margin-left:-$go-back-width;font-size: 24px; font-weight: normal;
  }
}
nav{
  width:100%;
  ul{
    display: flex;width:100%;
    li{
      flex-grow: 1; border-bottom: $nav-border-bottom solid transparent; text-align: center; line-height: $nav-height;
      a{
        display: inline-block;
      }
      &.active{
        border-bottom-color: $nav-border-color;
      }
    }
  }
}
.banner{
  width:100%;
  img{
    width:100%;
  }
}
.menu{
  padding:22px 15px;
  .page-menu{
    display: flex;
    li{
      flex-grow: 1;
      span{
        display: inline-block;
        &.menu-dot{
          width:100%;
          img{
            width:50%;
          }
        }
        &.menu-tag{

        }
      }


    }
  }

}
/* */








