@charset "utf-8";

/* */
$h1-height:57px;
$go-back-width:100px;
$nav-height:56px;
$nav-border-bottom:4px;
/**/
$body-bg:#f5f5f5;
$header-bg:#91d4da;
$bg-white:#fff;

$menu-dot-bg:#00c7d6;
$nav-border-color:#90d6d8;
$default-border-color:#dedede;

/**/
$color-white:#fff;
$default-color:#333;
$sub-color:#666;
/**/
$default-font-size:16px;
/**/
$side-lf-width:15px;
$side-ud-width:22px;
$side-ud-width-10:10px;
$side-bottom-20:20px;
/**/

*{padding:0;margin:0; box-sizing: border-box;}
body{margin:0;padding:0; font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif; color: $default-color;font-size: $default-font-size; background-color: $body-bg;}
img{vertical-align: middle; display: inline-block;border: 0;}
ol,ul,li {list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
/*移动端特有*/
a, img {
  -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
  -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
  user-select: none;
}
/*移动端特有 end*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*zoom:1;}
.clear{clear: both;}

.page-container{margin:0 auto;}

header{
  background: $header-bg; color: $color-white; /*text-align: center;*/ line-height:$h1-height;display: flex;
  .go-back{
    display: inline-block;width:$go-back-width; line-height:$h1-height; font-size: 18px;padding-left:15px;

  }
  h1{
    text-align: center;line-height:$h1-height; flex-grow: 1;margin-left:-$go-back-width;font-size: 24px; font-weight: normal;
  }
}
nav{
  width:100%;background-color: $bg-white;
  ul{
    display: flex;width:100%;
    li{
      flex-grow: 1; border-bottom: $nav-border-bottom solid transparent; text-align: center; line-height: $nav-height;
      a{
        display: inline-block;
      }
      &.active{
        border-bottom-color: $nav-border-color;
      }
    }
  }
}
.banner{
  width:100%;
  img{
    width:100%;
  }
}
.page-menu{
  background-color: $bg-white;margin-bottom: $side-bottom-20;
}
.menu{
  margin:0 $side-lf-width;border-bottom: 1px solid $default-border-color;padding:$side-ud-width 0;
  .sub-menu{
    display: flex;
    li{
      flex-grow: 1;text-align: center;
    }
    a{
      display: inline-block;
    }
    span{
      display: block;
      &.menu-dot{
        background-color: $menu-dot-bg; border-radius:50%;width:70%;height:0;padding-bottom: 70%;overflow: hidden;margin-left: 15%;
        img{
          width:80%;margin-top:7.5%;
        }
      }
      &.menu-tag{
        text-align: center;margin-top:10px; line-height: 1.6;
      }
    }
  }
}
.column{
  padding:10px 0;
  ul{
    display: flex;
    li{
      flex-grow: 1;border-right:1px solid $default-border-color; text-align: center;
    }
    a{
      width:50%; height: 100%;
      img{
        width:80%;
      }
      h4{
        display: block;margin:5px auto;
      }
      h5{
         display: block;color: $sub-color;
      }
    }
  }
}
$module-border-color:#fdbd5b;
$module-bg: #f8f8f8;
.module{
  background-color: $bg-white;margin-bottom: $side-bottom-20;padding: 10px $side-lf-width 0 $side-lf-width;
  h3{
    border-bottom: 1px solid $default-border-color;color: $sub-color;padding-bottom: 10px;
  }
  @at-root .module-iterm{
    /**/
    $module-aside-width:80px;
    $module-side:10px;
    $module-span-height:(($module-aside-width)-($module-side))/2;
    /**/
    position: relative;margin-top:$module-side;margin-bottom:$module-side;
    aside{
      width:$module-aside-width;
      img{
       width:$module-aside-width; height: $module-aside-width;border: 1px solid $module-border-color;
      }
    }
    article{
      position: absolute;top:0;left:$module-aside-width;right:0;
    a{
        display:inline-block;width:50%; float: left;margin-bottom:$module-side;padding-left:$module-side;
      span{
        display: block; width:100%;background-color:$module-bg;text-align: center; line-height: $module-span-height;
      }
      }

    }
  }
}
/* */


@media (min-width: 640px)
{
  .module-iterm{
    /**/
    $module-aside-width:240px;
    $module-side:20px;
    $module-span-height:(($module-aside-width)-($module-side))/2;
   /**/
    margin-top:$module-side;margin-bottom:$module-side;
    aside{
      width:$module-aside-width;
      img{
        width:$module-aside-width; height: $module-aside-width;border: 1px solid $module-border-color;
      }
    }
    article{
      left:$module-aside-width;
      a{
       margin-bottom:$module-side;padding-left:$module-side;
        span{
          line-height: $module-span-height;
        }
      }

    }
  }
}





